<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="methods" name="Suite">
	<listeners>
		<listener class-name="com.qa.listeners.ListenersClass" />
		<listener class-name="com.qa.listeners.AnotationTransformer" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.qa.testcases.LoginPageTestOrange" />
			<!--<class name="com.qa.testcases.HomePageTest"/> <class name="com.qa.testcases.LoginPageTest"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
